<table class="table">
    <thead>
        <tr>
            <th *ngFor="let header of headers" scope="col">{{ header.label }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of paginatedList" (click)="clickElement(element)">
            <td *ngFor="let header of headers">{{ element[header.value] }}</td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <pagination [totalItems]="list.length" [itemsPerPage]="itemsPerPage" 
        [previousText]="previousText" [nextText]="nextText" (pageChanged)="pageChanged($event)"></pagination>
</div>