.card {
    padding: 15px !important;
}

.grid {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    margin-left: 10px !important;
}

.image-preview {
    max-width: 60% !important; 
    max-height: 40% !important;
}