<div class="ui-g-10 ui-md-10 ui-lg-10">
    <div class="card">
        <h3>{{ title }}</h3>
        <div class="grid">
            <button *ngIf="animal.COD_ANIMAL" type="button" class="btn btn-dark"
                (click)="deleteAnimal()">Excluir</button>
        </div>
        <div class="grid">

            <div class="form-row">
                <div class="col">
                    <label for="name">Nome*:</label>
                    <input id="name" type="text" class="form-control" [(ngModel)]="animal.NOM_ANIMAL">
                </div>
                <div class="col">
                    <label for="especie">Espécie*:</label>
                    <select id="especie" class="custom-select" [(ngModel)]="animal.ESPECIE_COD_ESPECIE">
                        <option *ngFor="let especie of especies" [value]="especie.value">{{ especie.label }}</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="idade">Idade*:</label>
                    <select id="idade" class="custom-select" [(ngModel)]="animal.IND_IDADE">
                        <option *ngFor="let idade of idades" [value]="idade.value">{{ idade.label }}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="porte">Porte*:</label>
                    <select id="porte" class="custom-select" [(ngModel)]="animal.IND_PORTE_ANIMAL">
                        <option *ngFor="let porte of portes" [value]="porte.value">{{ porte.label }}</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="sexo">Sexo*:</label>
                    <select id="sexo" class="custom-select" [(ngModel)]="animal.IND_SEXO_ANIMAL">
                        <option *ngFor="let sexo of sexos" [value]="sexo.value">{{ sexo.label }}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="castrado">Castrado*:</label>
                    <select id="castrado" class="custom-select" [(ngModel)]="animal.IND_CASTRADO">
                        <option *ngFor="let castrado of castradoOptions" [value]="castrado.value">{{ castrado.label }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="instituicao">Instituição*:</label>
                    <select id="instituicao" class="custom-select" [(ngModel)]="animal.INSTITUICAO_COD_INSTITUICAO">
                        <option *ngFor="let institution of institutions" [value]="institution.COD_INSTITUICAO">
                            {{ institution.NOM_INSTITUICAO }}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="temperamento">Temperamento:</label>
                    <input id="temperamento" type="text" class="form-control" [(ngModel)]="animal.DES_TEMPERAMENTO">
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="observacao">Observação:</label>
                    <textarea id="observacao" class="form-control" rows="3"
                        [(ngModel)]="animal.DES_OBSERVACAO"></textarea>
                </div>
                <div class="col">
                    <label for="observacao">Vacinas:</label>
                    <textarea id="observacao" class="form-control" rows="3" [(ngModel)]="animal.DES_VACINA"></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label>Foto*:</label>
                    <input type="file" (change)="fileChangeEvent($event)" style="width: 100% !important;" />
                </div>
                <div class="col">
                    <div class="image-preview">
                        <image-cropper [imageChangedEvent]="imageChangedEvent" [aspectRatio]="3 / 4"
                            [resizeToWidth]="400" (imageCropped)="imageCropped($event)"></image-cropper>
                    </div>
                </div>
            </div>

        </div>
        <div class="grid">
            <button type="button" class="btn btn-dark" (click)="saveAnimal()">Salvar</button>
            <button type="button" class="btn btn-dark" (click)="closeForm()">Cancelar</button>
        </div>
    </div>
</div>