<div class="card">
    <div class="card-body">
        <h1>Como Adotar</h1>
        <p>
            Quem não deseja ser muito amado todos os dias?
        </p>
        <p>
            Nossos amigos de quatro patas estão esperando por você, adote!
        </p>
        
        <h2>Recomendações ao adotante:</h2>
        <p>-Ao adotar um animal você será responsável por ele durante toda a vida.</p>
        <p>-Se comprometa com os gastos do seu bichinho como ração, vacinas, vermífugos e consultas ao veterinário.</p>
        <p>-Dê preferência a animais castrados ou se comprometa a castrá-lo.</p>
        <p>-Nunca abandone seu animal, pois ele se apega aos amigos humanos e podem ter depressão profunda por causa do abandono. Além disso, na rua seu cão ou gato está exposto a doenças e acidentes.</p>
        
        <h2>Requisitos para adoção:</h2>
        <b>**Essas informações dependem da ONG**</b>
        <p>-Ser maior de 18 anos ou estar acompanhado por um responsável.</p>
        <p>-Identidade e CPF(original e cópia).</p>
        <p>-Comprovante de Residência.</p>

    </div>
</div>
