.title{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    font-family: Apple Chancery;
    text-align: center;
}

.detail{
    font-size: 20px;
    font-family:Bradley Hand, cursive;
}

#body{
    padding-bottom: 8%;
}