<app-carousel-initial></app-carousel-initial>

<div id="body" class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-2">
        <app-side-filter (selectedFilter)="changeFilter($event)"></app-side-filter>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-10">
        <div class="section-adote">
            <div class="title ng-scope">ADOTE!</div>
                <div class="row adote">
                    <app-animals-view [animals]="animals"></app-animals-view>
                </div>                    
        </div>
    </div>
</div>    

