.logo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.admin-menu {
    height: 100% !important;
}

li:hover {
    background-color: #000000;
    color: #ffffff;
}

.container-item {
    margin-left: 20px;
}

i {
    font-size: 20px;
}