
.black-menu {
    background-color: #000000 !important;
}

a {
    text-decoration: none !important;
    color: #ffffff !important;
}

a:hover {
    text-decoration: none !important;
    color: #bcbec2 !important;
}
