.image-card {
    width: 17rem; 
    height: 22.6rem;
}

.title{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: Apple Chancery;
    text-align: center;
}

.detail{
    font-size: 15px;
    font-family:Bradley Hand, cursive;
}

.effect{
    padding-top: 30px;
}

.effect_back{
    padding-top: 30px;
    padding-bottom: 40px;
}

.back_email{
    padding-bottom: 10px;
}

.align_center{
    text-align: center;
}

#body{
    padding-bottom: 8%;
}