.image-card {
    width: 17rem; 
    height: 22.6rem;
}

.title{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: Apple Chancery;
    text-align: center;
}

.detail{
    font-size: 15px;
    font-family:Blippo, Apple Chancery;
}