<div class="ui-g-10 ui-md-10 ui-lg-10">
    <div class="card">
        <h3>{{ title }}</h3>
        <div class="grid">
            <button *ngIf="institution.COD_INSTITUICAO" type="button" class="btn btn-dark"
                (click)="deleteInstitution()">Excluir</button>
        </div>
        <div class="grid">
            <div class="form-row">
                <div class="col">
                    <label for="name">Nome*:</label>
                    <input id="name" type="text" class="form-control" [(ngModel)]="institution.NOM_INSTITUICAO">
                </div>
                <div class="col">
                    <label for="email">E-mail*:</label>
                    <input id="email" type="email" class="form-control" [(ngModel)]="institution.DES_EMAIL">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="phone">Telefone*:</label>
                    <input id="phone" type="text" class="form-control" [(ngModel)]="institution.NUM_TELEFONE">
                </div>
                <div class="col">
                    <label>Tipo Instituição*:</label>
                    <select class="custom-select" [(ngModel)]="institution.IND_TIPO_INSTITUICAO">
                        <option *ngFor="let institutionType of institutionTypes" [value]="institutionType.value">
                            {{ institutionType.label }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="grid">
            <button type="button" class="btn btn-dark" (click)="saveInstitution()">Salvar</button>
            <button type="button" class="btn btn-dark" (click)="closeForm()">Cancelar</button>
        </div>
    </div>
</div>