/* The container */
.container {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}
  
  /* On mouse-over, add a grey background color */
.container span:hover ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #000000;
}
  