<div class="row justify-content-center">
    <button *ngIf="isMobileButtonVisible" class="btn btn-primary filter-button-mobile" data-toggle="collapse" href="#side-filter" role="button" aria-expanded="false"
        aria-controls="side-filter">
        <i id="filter-icon" class="fa fa-filter" aria-hidden="true"></i>
    </button>
</div>

<div [class]="defineFilterClass()" id="side-filter">
    <div class="card filter">
        <form>
            <div class="form-group">
                <label for="inputNome">Nome:</label>
                <input id="inputNome" class="form-control" type="text" placeholder="Digite o nome do pet" name="nome" [(ngModel)]="filter.nome" >
            </div>

            <hr>

            <label for="divEspecie">Espécie:</label>
            <div id="divEspecie">
                <app-radio-button *ngFor="let especie of especieOptions; let i = index" [label]="especie.label"
                    [name]="'especie'" [id]="'especie' + (i + 1)" (valueChanged)="especieChanged($event)" ></app-radio-button>
            </div>

            <hr>

            <label for="divPorte">Porte:</label>
            <div id="divPorte">
                <app-radio-button *ngFor="let porte of porteOptions; let i = index;" [label]="porte.label"
                    [name]="'porte'" [id]="'porte' + (i + 1)" (valueChanged)="porteChanged($event)" ></app-radio-button>
            </div>

            <hr>

            <label for="divSexo">Sexo:</label>
            <div id="divSexo">
                <app-radio-button *ngFor="let sexo of sexoOptions; let i = index" [label]="sexo.label" [name]="'sexo'"
                    [id]="'sexo' + (i + 1)" (valueChanged)="sexoChanged($event)" ></app-radio-button>
            </div>

            <hr>

            <label for="divIdade">Idade:</label>
            <div id="divIdade">
                <select class="custom-select" (click)="idadeChanged($event.target.value)">
                    <option selected>Escolha a idade</option>
                    <option *ngFor="let idade of idadeOptions" value="1">{{ idade.label }}</option>
                </select>
            </div>

            <hr>

            <div>
                <button type="button" class="btn btn-dark width-100" (click)="applyFilter()">
                    Aplicar
                </button>
            </div>
        </form>
    </div>
</div>