.filter {
    padding: 5px;
}

.filter-button {
    width: 100%;
    border-color: #000;
    background-color: #000;
    color: white;
    border-radius: .15rem;
}

.filter-button:active {
    background: #2b2a2a !important;
}

.filter-button-mobile {
    width: 80%;
    border-bottom: 10px;
    background-color: white !important;
    border-color: #9c9c9b !important;
    box-shadow: 2px 2px 2px gray !important;
}

.filter-button-mobile:focus {
    border-color: white !important;
}

#filter-icon {
    font-size: 42px;
    color: black;
}