.filter {
    padding: 5px;
}

.filter-button-mobile {
    width: 80%;
    border-bottom: 10px;
    background-color: white !important;
    border-color: #9c9c9b !important;
    box-shadow: 2px 2px 2px gray !important;
}

.filter-button-mobile:focus {
    border-color: white !important;
}

#filter-icon {
    font-size: 42px;
    color: black;
}